/*Imagem Backgroud da tela inicial para escolher os personagens*/
.background {
  background-image: url(./img/background.jpeg);
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  background-position-x: right;
  width: 100%;
  height: 700px;
  display:flex;
  justify-content: center;
}

/*Variáveis criadas para o tema do jogo*/
:root {
  --corVerde:#7a9244;
  --corClara:#e1dfb6;
  --corClaraTransparente:rgba(225,223,182, 0.8);
  --corMarron:#5c452d;
  --corVerdeClaro: #c5ee7d;
}

/*Titulo do jogo*/
.titulo {
  background-color: var(--corMarron);
  border-bottom: 10px solid var(--corVerdeClaro);
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo p {
  display: flex;
  align-items: center;
  color:var(--corClara);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
}

/*Bloco onde contém os personagens pora escolha*/
.historia {
margin-top: 150px;
position: absolute;
background-color: var(--corClaraTransparente);
border-radius: 20px;
width: 800px;
height: 400px;
padding: 15px;
display: flex;
justify-content: center;
}

.historia p {
text-transform: uppercase;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
padding-top:20px ;
font-size: 20px;
text-align: center;
position: absolute;
}

/*Imagem dos personagens*/
.personagens a {
margin: 10px;
height: 70%;
margin-top: 100px;
display: flex;
}

.personagens img  {
border: 4px solid var(--corMarron);
border-radius: 20px;
transition: 0.4s;
}

/*Efeito de Hover nos personagens*/
.personagens img:hover {
  border-color: var(--corVerde);
  filter: grayscale(0.7);
}

/*Responsividade*/
@media screen and (min-width: 350px) and (max-width: 600px)  {

  .titulo {
    width: 100%;
    height: 70px;
  }

  .titulo p {
    font-size: 22px;
  }

  .historia {
    width: 80%;
    height: 300px;
  }

  .historia p {
    font-size: 16px;
  }

  .personagens img  {
    height: 60%;
  }

  .background {
    background-size:cover;
  }
 
}

@media screen and (max-width: 349px){
  .titulo {
    width: 100%;
    height: 70px;
  }

  .titulo p {
    font-size: 18px;
  }

  .historia {
    width: 80%;
    height: 300px;
  }

  .historia p {
    font-size: 13px;
  }

  .personagens img  {
    height: 50%;
  }

  .background {
    background-size:cover;
  }
}
